name: Tests

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Update apt
        run: sudo apt-get update
      - name: Install apt deps
        run: sudo apt-get install -y librecode-dev
      - name: Configure build
        run: ./configure
      - name: Build
        run: make -j4
      - name: Test
        run: make test
      - name: Test log
        run: cat test/test-suite.log
      - name: Install
        run: make install DESTDIR=/tmp/inst
